html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	font-family: Helvetica, sans-serif;
	overflow-x: hidden;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#content {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#header .head {
	height: 40px;
	background: -moz-linear-gradient(top,#f9b78e 0,#fa6305 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f9b78e),color-stop(100%,#fa6305));
	background: -webkit-linear-gradient(top,#f9b78e 0,#fa6305 100%);
	background: -o-linear-gradient(top,#f9b78e 0,#fa6305 100%);
	background: -ms-linear-gradient(top,#f9b78e 0,#fa6305 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9b78e',endColorstr='#fa6305',GradientType=0);
	background: linear-gradient(top,#f9b78e 0,#fa6305 100%);		
	position: relative;
}

#header h1 {
	text-align: center;
	margin: 0;
	font-size: 1.2em;
	padding: 10px 0;
	color: #FFF;
	text-shadow: 1px 1px 1px #000;
}

#header #activator {
	display: inline-block;
	width: 40px;
	height: 100%;
	border-right: 1px solid #EFEFEF;
	position: absolute;
	left: 0px;
	top: 0px;
}

#activator .icon {
	background: url('../img/menu.png') no-repeat center;
	width: 100%;
	height: 100%;
}


#header #activator:active {
	background: -moz-linear-gradient(top,#fa6305 0,#f9b78e 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fa6305),color-stop(100%,#f9b78e));
	background: -webkit-linear-gradient(top,#fa6305 0,#f9b78e 100%);
	background: -o-linear-gradient(top,#fa6305 0,#f9b78e 100%);
	background: -ms-linear-gradient(top,#fa6305 0,#f9b78e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa6305',endColorstr='#f9b78e',GradientType=0);
	background: linear-gradient(top,#fa6305 0,#f9b78e 100%);
}

#nav {
	background: #2d2d2d;
}

#nav li {
	border-bottom: 1px solid #CCC;
}

#nav li a {
	list-style: none;
	color: #fff;
	padding: 11px 10px;
	display: block;
	text-decoration: none;
	font-weight: bold;
}

#feed h2 {
	font-size: 1em;
	margin-top: 0;
}

#feed li {
	padding: 10px;
	border-bottom: 1px solid #CCC;
}

#feed p {
	margin: 0;
}

#content.nav-showing #nav {
	left: 0;
}

#content.nav-showing #main {
	left: 200px;
}

.js #main {
	position: relative;
	overflow: hidden;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	transition: all .2s ease-out;		
	-webkit-transform: translateZ(0);		
}

.js #nav {
	-webkit-box-shadow: -5px -5px 15px rgba(0,0,0,.8) inset;
	-moz-box-shadow: -5px -5px 15px rgba(0,0,0,.8) inset;
	box-shadow: -5px -5px 15px rgba(0,0,0,.8) inset;
	width: 200px;
	height: 100%;	
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	transition: all .2s ease-out;		
	-webkit-transform: translateZ(0);
	position: absolute;
	min-height: 100%;
	overflow: hidden; 
	left: -200px;			
}

.js #content {
	position: relative;
}